.LearnWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 85%;
    margin: 0 auto;
    margin-top: 60px;
}
.LearnLeftContainer {
    flex: 1;
    padding: 1rem;
    min-width: 350px;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}
.LearnLeftContainer * {
    margin: 0;
}
.LearnRightContainer {
    flex: 1;
    min-width: 350px;
    padding: 1rem;
}
.LearnRightContainer img {
    border-radius: 20px;
    width: 100%;
    max-height: 80%;
}
.btn {
    background-color: var(--color-primary);
}