.springHillSection h2 {
  text-align: center;
}
.title {
  font-weight: 700;
  line-height: 1.2; /* Adjusts the height between lines */

  overflow-wrap: break-word;
}
.springHillSection {
  width: 85%;
  margin: 0 auto;
}
.hero__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white;
  background-image: url("/images/express-exterior.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  gap: 1rem;
  align-items: center;
  text-align: center;
  padding: 4rem;
}
.hero__container * {
  margin: 0;
}
.reviewsContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.heroButtons {
  display: flex;
  gap: 1rem;
}
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 3vh 3vw;
  justify-content: space-evenly;
}

.header h1 {
  margin-bottom: 10px;
}
.header h1::after {
  content: "";
  display: block;
  height: 4px;
  background: linear-gradient(to right, var(--color-primary), transparent);
}

.link {
  text-decoration: none;
  color: var(--color-primary);
}

@media (max-width: 1025px) {
  .hero__container {
    padding: 3rem 1rem;
    justify-content: center;
    /* min-height: 70vh; */
  }
}
