.packagesContainer {
  padding: 20px;
  width: 80%;
  margin: auto;
}

.header {
  text-align: center;
}
.header h1 {
  font-size: 3rem;
}
.header > p {
  font-size: 1.2rem;
  color: gray;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-evenly;
}
.card {
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 300px;
  max-width: 25vw;
}
.cardInfoContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.blueBackground {
  text-align: center;
  padding: 30px 10px 10px 10px;
  border-radius: 8px 8px 0 0;
}
.blueBackground * {
  margin: 0;
}
.card1 .blueBackground {
  padding: 10px;
  color: white;
  background-color: var(--color-primary);
}
.card1 .cardTitle {
  color: white;
}
.card1 .cardPrice {
  margin: 0;
}
.card1 .cardTitle::after {
  content: "- Our most popular -";
  font-size: 1.1rem;
  display: block;

}
.cardWrapper {
  padding: 0 2rem 2rem 2rem;
}

.cardTitle {
  font-size: 1.75rem;
  margin-bottom: 10px;
  text-align: center;
}

.cardPrice {
  font-size: 1.75rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.cardDescription {
  color: gray;
  font-size: 1em;
  line-height: 1.7;
  margin-bottom: 25px;
}

.cardFeatures {
  list-style: none;
  padding: 0;
}

.cardFeatures li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 1em; /* Adjust text size if needed */
}

.cardFeatures li::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("/images/checkmark.svg"); /* Path to your SVG file */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px; /* Space between checkmark and text */
  transform: translateY(-2px); /* Align vertically with text */
}
