.murfreesboroSection h2 {
  text-align: center;
}

.murfreesboroSection {
  width: 85%;
  margin: 0 auto;
}
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 3vh 3vw;
  justify-content: space-evenly;
}

.header h1 {
  margin-bottom: 10px;
}
.header h1::after {
  content: "";
  display: block;
  height: 4px;
  background: linear-gradient(to right, var(--color-primary), transparent);
}

.link {
  text-decoration: none;
  color: var(--color-primary);
}