/* styles/globals.css */

/* Define color variables */
:root {
  --color-primary: #00aaff; /* Electric Blue */
  --color-secondary: #FFA500; /* Lime Green */
  --color-background: #ffffff; /* White */
  --color-foreground: #000000; /* Black */
  --color-compliment: #f8f8f8; /*light gray*/
  /* Define font sizes in rem */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */

  /* Define font family */
  --font-family: 'Roboto', sans-serif;
}

/* Base styles */
body {
  width: 70%;
  margin: auto;
  font-family: var(--font-family);
  font-size: var(--font-size-md); /* Default font size */
  line-height: 1.6;
  color: var(--color-foreground);
  background-color: var(--color-background);
}
.nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above other content */
  background-color: #fff; /* Optional: background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: shadow */
  /* Add any additional styling here */
}


footer div {
  background-color: var(--color-primary);
  display: flex;
  padding: 1rem; /* Padding in rem */
}

main {
  padding: 1rem; /* Padding in rem */
}

h1 {
  font-size: var(--font-size-xxl); /* Font size in rem */
}

h2 {
  font-size: var(--font-size-xl); /* Font size in rem */
}

h3 {
  font-size: var(--font-size-lg);
}

p {
  font-size: var(--font-size-md); /* Font size in rem */
}
/* Primary Button */
.btn--primary {
  background-color: var(--color-secondary); /* Primary color */
  color: var(--color-background); /* Text color */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  font-size: var(--font-size-md);
  font-family: var(--font-family);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn--primary:hover {
  background: linear-gradient(to right, var(--color-secondary), var(--color-primary)) /* Secondary color on hover */
}

/* Secondary Button */
.btn--secondary {
  background-color: var(--color-background); /* Background color */
  color: var(--color-secondary); /* Text color */
  border: none;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  font-size: var(--font-size-md);
  font-family: var(--font-family);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn--secondary:hover {
 color: var(--color-primary);
}

/* Responsive adjustments */
@media (max-width: 480px) {
  html {
    font-size: var(--font-size-sm); /* 1rem = 14px for smaller screens */
  }
 
 
}

@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: var(--font-size-md); /* Default root font size */
  }
  .logo {
    width: 110px;
  }

}

@media (min-width: 1025px) {
  html {
    font-size: 18px; /* Larger root font size for larger screens */
  }
}
