/* styles/globals.css */

/* Define color variables */
:root {
  --color-primary: #00aaff; /* Electric Blue */
  --color-secondary: #FFA500; /* Lime Green */
  --color-background: #ffffff; /* White */
  --color-foreground: #000000; /* Black */

  /* Define font sizes in rem */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */

  /* Define font family */
  --font-family: 'Roboto', sans-serif;
}

/* Base styles */
body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-md); /* Default font size */
  line-height: 1.6;
  color: var(--color-foreground);
  background-color: var(--color-background);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-primary);
}
.logo {
  margin-left: 3em;
  display:block;
}
footer div {
  background-color: var(--color-primary);
  display: flex;
  padding: 1rem; /* Padding in rem */
}

main {
  padding: 1rem; /* Padding in rem */
}

h1 {
  font-size: var(--font-size-xl); /* Font size in rem */
}

h2 {
  font-size: var(--font-size-lg); /* Font size in rem */
}

p {
  font-size: var(--font-size-md); /* Font size in rem */
}
/* Primary Button */
.btn--primary {
  background-color: var(--color-primary); /* Primary color */
  color: var(--color-background); /* Text color */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: var(--font-size-md);
  font-family: var(--font-family);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn--primary:hover {
  background-color: var(--color-secondary); /* Secondary color on hover */
}

/* Secondary Button */
.btn--secondary {
  background-color: var(--color-background); /* Background color */
  color: var(--color-primary); /* Text color */
  border: 1px solid var(--color-primary); /* Border color */
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: var(--font-size-md);
  font-family: var(--font-family);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn--secondary:hover {
  background-color: var(--color-secondary); /* Secondary color on hover */
  color: var(--color-background); /* Text color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  html {
    font-size: 14px; /* 1rem = 14px for smaller screens */
  }
  .logo {
    width: 100px;
    height: auto;
    display: inline block;
    margin: 0;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 16px; /* Default root font size */
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 18px; /* Larger root font size for larger screens */
  }
}
