/* styles/globals.css */

/* Define color variables */
:root {
  --color-primary: #00aaff; /* Electric Blue */
  --opacity-color-primary: rgba(0, 170, 255, .5);
  --color-secondary: #ffa500; /* orange*/
  --color-background: #ffffff; /* White */
  --color-foreground: #000000; /* Black */
  --color-compliment: #f9f9f9; /*light gray*/
  /* Define font sizes in rem */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */

  /* Define font family */
  --font-family: "Roboto", sans-serif;
}
html {
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  font-family: var(--font-family);
  font-size: var(--font-size-md); /* Default font size */
  line-height: 1.5;
  color: var(--color-foreground);
  background-color: var(--color-background);
}
* {
  box-sizing: border-box;
}

h1 {
  /* font-size: clamp(3.5rem, 4.5vw, 5rem); */
  font-size: 3rem;
  font-weight: 400;
}
h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
.subheading {
  font-size: 1.2rem;
}
.txt-center {
  text-align: center;
}
.h2::after {
  content: "";
  display: block;
  height: 4px;
  background: linear-gradient(to right, var(--color-primary), transparent);
}
.font--blue {
  color: var(--color-primary);
}
.font--bold {
  font-weight: 700;
}
.header {
  position: sticky;
  z-index: 1000;
  top: 0;
}
.main {
  width: 100%;
}

/* Base styles */
body {
  margin: 0;
}

.nav {
  width: 100%;
  background-color: #fff; /* Optional: background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: shadow */
  display: flex;
  justify-content: center;
}

footer {
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);
  color: white;
}

/* Primary Button */
.btn--primary {
  background-color: var(--color-secondary); /* Primary color */
  color: var(--color-background); /* Text color */
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 40px;
  font-size: var(--font-size-md);
  font-family: var(--font-family);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
}

/* Secondary Button */
.btn--secondary {
  background-color: black;
  color: var(--color-background); /* Text color */
  border: none;
  padding: 0.7rem 2.5rem;
  border-radius: 40px;
  font-size: var(--font-size-md);
  font-family: var(--font-family);
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.btn--tertiary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 170, 255, 0.5);
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 40px;
  font-size: var(--font-size-md);
  font-family: var(--font-family);
  cursor: pointer;
  transition: transform 0.3s ease;
}

@media (max-width: 1025px) {
  .butt .btn-wrapper {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    background-color: white;
  }
  .logo {
    width: 110px;
  }
}
@media (max-width: 1225px) {
  div .secondary button {
    display: none;
  }
}
/* large screens */
@media (min-width: 1025px) {
  html {
    font-size: 20px;
  }
}

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  html {
    font-size: 18px; /* Slightly smaller base font size */
  }
}

/* Small screens (phones) */
@media (max-width: 768px) {
  html {
    font-size: 16px; /* Smaller base font size */
  }
}
