.locationSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  cursor: pointer;
}

.location0 {
  background-image: url(/images/Nashville.webp);
}
.location1 {
  background-image: url(/images/Franklin.jpeg);
}
.location2 {
  background-image: url(/images/Brentwood.jpg);
}
.location3 {
  background-image: url(/images/Gallatin.jpeg);
}
.location4 {
  background-image: url(/images/SpringHill.jpeg);
}
.location5 {
  background-image: url(/images/Murfreesboro.jpg);
}
.location6 {
  background-image: url(/images/Smyrna.jpeg);
}
.location7 {
  background-image: url(/images/MtJuliet.jpeg);
}
.location8 {
  background-image: url(/images/Hendersonville.png);
}
.location9 {
  background-image: url(/images/Lebanon.jpeg);
}
