.WhyUsWrapper {
    text-align: center;
    padding: 0 0 40px 0;
}
.BenefitsContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-flow: row wrap;  
}
.BenefitsContainer > * {
    box-shadow: 0 4px 20px var(--opacity-color-primary);
    padding: 20px;
    width: 300px;
    height: 300px;
}
@media (max-width: 1025px) {
    .BenefitsContainer > * {
        padding: 0;
        height: 200px;
    }
    .BenefitsContainer h3 {
        margin: .5rem;
    }
}