/* page.module.css */

.hero__container {
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap;
  align-items: center; /* Center items vertically */
}

.hero__container__left {
  padding: 20px;
  flex: 1;
}

.hero__container__right {
  flex: 1;
  padding: 20px;
  min-width: 400px;
  max-width: 100%;
}
.image {
  display: block;
  min-height: 400px;
  width: 99%;
}
.btn--primary {
  background-color: #0070f3; /* Customize button color */
  color: #fff; /* Button text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  cursor: pointer; /* Show pointer cursor on hover */
}
.title {
  font-size: clamp(2rem, 13vw, 5rem); /* Limits the font size */
  line-height: 1.2; /* Adjusts the height between lines */
  margin-bottom: 1rem; /* Adds space between the title and subheading */
  overflow-wrap: break-word; /* Allows breaking long words */
}

.subheading {
  color: gray;
  margin-top: 0.5rem; /* Adjusts space below the title */
}

.title::after {
  content: "";
  display: block;
  height: 4px;
  background: linear-gradient(to right, var(--color-primary), transparent);
}

.subheading {
  color: gray;
}
.image {
  border-radius: 40px; /* adjust the value to your liking */
}



@media (max-width: 1025px) {
  section.section_two {
    width: 100%;
  }
  .section_two form {
    width: 100%;
  }
  .hero__container__right {
    display: none;
  }
}
@media (min-width: 1800px) {
  .image {
    margin-top: 50px;
    width: 90%;
  }
}