.hero__container {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  color: white;
  background-image: url("/images/interiorDetail.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__container * {
  margin: 0;
}
.reviewsContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.heroButtons {
  display: flex;
  gap: 1rem;
}

.hero__container button {
  width: max-content;
}

.image {
  display: block;
  margin-top: 50px;
  width: 100%;
  max-height: 500px;
  border-radius: 20px;
}

.title {
  font-weight: 400;
  line-height: 1.2; /* Adjusts the height between lines */

  overflow-wrap: break-word;
}
.subheading {
  text-align: center;
}
.locations__section {
  width: 85%;
  margin: auto;
  padding: 3rem 0 3rem 0;
}
.locations__section > h2 {
  margin-bottom: 1rem;
  width: fit-content;
  margin: auto;
}
.locations__section p a {
  text-decoration: none;
  color: var(--color-primary);
}

.giftWrapper {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 1025px) {
  .hero__container {
    padding: 2rem 1rem;
    justify-content: center;
    min-height: 70vh;
  }
  section.section_two {
    width: 100%;
  }
  .section_two form {
    width: 100%;
  }
  .services_exterior > * {
    flex: 100%;
  }
  .second_service .services_exterior_right {
    order: 5;
  }
  .services_exterior {
    padding: 0;
  }
}
@media (min-width: 1800px) {
  .image {
    width: 90%;
  }
}
