/* components/ServiceCard.module.css */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1;
    min-width: 200px;
    max-width: 450px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .price {
    font-size: var(--font-size-lg);
    font-weight:bold ;
  }
  
  .title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 190px;
  }
  
  .title::after {
    content: '';
    display: block;
    height: 4px;
    background: linear-gradient(to right, var(--color-primary), transparent);
  }
  
  .description {
    font-size: 1rem;
    color: #666;
  }
  