.reviewsContainer {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.title {
    text-align: center;
    font-size: 3rem;
}
.reviewCards {
    display: flex;
    gap: 4rem;
    flex-flow: row wrap;

}
.reviewCard {
    width: 300px;
    box-shadow: 0 4px 20px var(--opacity-color-primary);
    padding: 1rem;
}
.google {
    display: flex;
    justify-content: space-between;
}
.reviewer {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 1024px) {
    .reviewCards {
        justify-content: center;
    }
}