.title {
  text-align: center;
}

.reviewCard {
  width: 300px;
  box-shadow: 0 4px 20px var(--opacity-color-primary);
  padding: 1rem;
  margin: 0 auto;
}
.google {
  display: flex;
  justify-content: space-between;
}
.reviewer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.reviewsContainer {
  width: 100%;
  padding: 3rem
}
.reviewsContainer > p {
    text-align: center;
    font-size: 1.2rem;
}

.reviewCards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  
}


@media (max-width: 1024px) {
  .reviewCards {
    justify-content: center;
  }
}
