.navContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted lightgray;
  justify-content: space-between;
  background-color: white;
  max-height: 100svh;
  width: 85%;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  flex-grow: 2;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  
  flex-grow: 5
}
.link {
  position: relative;
  font-size: .9rem;
  margin: 0 1rem;
  transition: color 0.3s ease;
  color: var(--color-foreground);
  text-decoration: none;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.link:hover::after {
  background-color: var(--color-primary); /* Orange color for the underline */
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.fixedHamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  color: var(--color-primary);
}

.phone__div > a{
  text-decoration: none;
  color: var(--color-primary);
}
.phone__div a div {
  display: flex;
  align-items: center;
}
.show_phone_nav_primaryBtn {
  display: none;
}

@media (max-width: 1025px) {
  .navContainer {
    width: 100%;
  }
  .phone__div a {
    font-weight: bold;
  }
  .nav {
    display: none;
  }
  .nav.open {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 15%;
    background-color: rgba(156, 153, 153, .9);
    flex-direction: column;
    z-index: 999; /* Ensure nav overlay is on top */
  }

  .nav_open_top_bar {
    background-color: var(--color-primary);
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: white;
  }
  .nav a {
    font-size: var(--font-size-xl);
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: white;
  }
  .phone__div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .phone__div img {
    width: 30px;
    height: 30px;
  }
  .nav button {
    width: 80%;
    font-size: var(--font-size-xl);
    font-size: 2rem;
    font-weight: bold;
  }
  .nav.open .link:hover {
    color: var(--color-primary);
  }
  .hamburger {
    display: block;
    padding-right: 20px;
  }
  .fixedHamburger {
    padding: 0;
  }
  .show_phone_nav_primaryBtn {
    display: block;
    padding-right: 1.5rem;
  }
}
