
.nav {
    display:flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}
.link {
    margin: 0 2rem;
    transition: color 0.3s ease;
}
.link:hover {
    color: var(--color-secondary);
}


.link {
    color: var(--color-foreground);
}

@media (max-width: 768px) {
    .link {
        margin: 0 1rem;
    }
}