.interiorDetailContainer {
    /* background-color: lightgray; */
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.interiorHero {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    text-align: center;
    width: 100%;
    height: 60vh;
    background-image: url('/images/steam-clean.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
}


.cleaningProcessSection {
    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  .heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
  }
  
  .subheading {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #555;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-template-columns: repeat(3, 1fr);
  }
  
  .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .cardTitle {
    font-size: 1.8rem;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
  }
  
  .cardDescription {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }
  



.interiorDetailContainer h1 {
    text-align: center;
    margin-bottom: 0;
    padding-top: 10vh;
}
.interiorDetailContainer h2 {
    text-align: center;
    margin-bottom: 0;
}
.serviceDetails {
    width: 85%;
}
.whyList {
    padding: 0;
}
.whyList *{
    padding: .5rem;
    list-style: none;
}
.whyList strong {
    color:var(--color-primary);
}

@media (max-width: 1025px) {
    .grid {
        grid-template-columns: 1fr;
    }
}