.background {
  background-color: var(--color-primary);
}
.services_section {
  padding: 3rem 7% 3rem 7%;
  background-color: var(--color-compliment);
  background-color: white;
  border-radius: 0 55vw 0 35vw;
  padding-top: 10rem;
}

.services_section > div {
  margin: 1rem 0;
}
.services_section .first_service {
  margin-top: 2.5rem;
}
.buttons {
  display: flex;
  gap: 16px;
}
.services_section > p {
  margin: 0;
}
.services_section > h2 {
  width: fit-content;
  margin: auto;
  margin-bottom: 0.5rem;
}
.services_section img {
  display: block;
  width: 100%;
  border-radius: 20px;
}
.services_exterior {
  display: flex;
  flex-flow: row wrap;
  padding: 60px;
  gap: 1.5rem;
}
.services_exterior_left {
  flex: 1;
  padding: 1rem 0;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.services_exterior_left * {
  margin: 0;
}
.services_exterior_right {
  flex: 1;
}

@media (max-width: 1025px) {
  .services_exterior > * {
    flex: 100%;
  }
  .second_service .services_exterior_right {
    order: 5;
  }
  .services_exterior {
    padding: 0;
  }
}